.projet-APropos {
    margin: 15vh 0 10vh 0;
}
.link-Back {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}
.h2-Back {
    font-size: 1.75rem;
    color: $couleurSecondaire;
}
.fa-chevron-left {
    font-size: 1.75rem;
    color: $couleurSecondaire;
}
@media (max-width: 768px) {
    nav {
        padding: 0 20px;
    }
}