
.card-Projet {
    display: flex;
    flex-wrap: wrap;
}
.link-card { 
    padding: 10px;
    box-sizing: border-box;
    // border: 1px solid red;
    max-width: 578px;
    width: 50%;
}
.link-card,p {
    color: #fff;
}
 @keyframes neon {
    0% {
       box-shadow: 0 0 5px rgba(0, 255, 255, 0.3), 0 0 5px rgba(0, 255, 255, 0.2);
     }
    100% {
      box-shadow: 0 0 5px rgba(0, 255, 255, 0.8), 0 0 5px rgba(0, 255, 255, 10);
    }
}
.card {
    will-change: box-shadow;
    animation: neon 1.5s infinite alternate;
    text-align: start;
    background: $backgroundCard;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: $couleurSecondaire;
    font-size: 1.125rem;;
}
.card:hover {
    color: #fff;
    animation: neon 1.5s infinite alternate;
}

.img-card {
  width: 100%;
  border-radius: 5px;
  max-height: 418px;
}

.title-card {
    padding-top: 20px;
    line-height: 3rem;
    margin: 0;
    padding: 0 20px 0 20px;
}
.p-card {
    margin: 0;
    padding: 20px;
}
@media (max-width: 1024px) {
    .selected-experience {
        flex-direction: column-reverse;
    }
}
@media (max-width: 768px) {
    .card-Projet {
        flex-direction: column;
        align-items: center;
    }
    .link-card {
        width: 70%;
    }
}
@media (max-width: 375px) {

    .link-card {
        width: 100%;
    }
}